@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@if (ViewBag.msg != null)
{
    <script>alert("@ViewBag.msg");</script>
}

<main class="booking-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Book Appointment</div>
                    <div class="card-body">
                        <form method="post" action="BookAppointment">
                            <input type="hidden" value="@ViewBag.userName" name="myUserName" />
                            <input type="hidden" value="@ViewBag.phoneNumber" name="myPhoneNumber" />
                            <input type="hidden" value="@ViewBag.DoctorId" name="myDoctorID" />
                            <input type="hidden" value="@ViewBag.userId" name="myUserID" />
                            <input type="hidden" value="@ViewBag.DoctorPhoneNumber" name="myDoctorPhoneNumber" />
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Doctor Name</label>
                                <div class="col-md-6">
                                    <input type="text" value="@ViewBag.DoctorName" name="myDoctorName" class="form-control" readonly="readonly" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Date</label>
                                <div class="col-md-6">
                                    <input type="date" value="" name="myDate" required class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="user_name" class="col-md-4 col-form-label text-md-right">Time</label>
                                <div class="col-md-6">
                                    <input type="time" value="" name="myTime" required class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="user_name" class="col-md-4 col-form-label text-md-right">To the best of your knowledge have you been in close proximity to any individual who tested positive for COVID-19?</label>
                                <div class="col-md-6">
                                    <select id="coronaRisk" name="coronaRisk" class="form-control">
                                        <option value="High">Yes</option>
                                        <option value="Low">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                <input type="submit" value="Submit" name="submit" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>