@model IEnumerable<DoctorAppointmentWebApplication.Areas.Identity.Data.DoctorAppointmentWebApplicationUser>

@{
    ViewBag.Title = "All Users";
}

<h1 class="ml-4">Choose a doctor</h1>
<br />

@if (Model.Any())
{
    <div class="container">
        <div class="row">
            @foreach (var user in Model)
            {
                @if (user.Role.Equals("Doctor", StringComparison.InvariantCultureIgnoreCase))
                {
                    <div class="col-sm-6 mt-2 mb-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@user.Name</h5>
                                <p class="card-text">Doctor at Intelligent Hospital</p>
                                <p class="card-text">@user.PhoneNumber</p>
                                <a class="btn btn-primary" asp-action="ViewPublishAppointment" asp-route-id="@user.Id" asp-route-name="@user.Name" asp-route-phone-number="@user.PhoneNumber">Book Appointment</a>
                            </div>
                        </div>
                    </div>
                    <br/>
                }
            }
        </div>
    </div>
}

else
{
    <div class="card">
        <div class="card-header">
            No users created
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a user
            </h5>
            <a class="btn-primary" style="width:auto" asp-controller="Home" asp-action="Index">
                Back to pageasp
            </a>
        </div>
    </div>
}