@model IEnumerable<DoctorAppointmentWebApplication.Areas.Identity.Data.DoctorAppointmentWebApplicationUser>

@{
    ViewBag.Title = "All Users";
}

<h1 class="ml-4">Choose a doctor</h1>

<center>
    <div class="input-group mb-3 pt-4">
        <div class="form-group col-md-12">
            <form method="get" action="ListUsers">
                <div class="input-group mb-3">
                    <input type="text" value="" name="DoctorName" class="form-control" placeholder="Please enter a doctor's name">
                    <div class="input-group-append">
                        <input class="btn btn-outline-dark" type="submit" value="Search Doctor" name="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</center>
<br />

@if (Model.Any())
{
    <div class="container">
        <div class="row">
            @foreach (var user in Model)
            {
                @if (user.Role.Equals("Doctor", StringComparison.InvariantCultureIgnoreCase))
                {
                    <div class="col-sm-6 mt-2 mb-2">
                        <div class="card border-dark">
                            @{ 
                                var imageLink = "";
                                if (String.IsNullOrEmpty(user.ImageURL))
                                {
                                    imageLink = "~/Media/main-icon.svg";
                                }
                                else {
                                    imageLink = user.ImageURL;
                                }
                            }
                            <img class="card-img-top" src="@imageLink" height="400"/>
                            <div class="card-body border-dark">
                                <h5 class="card-title">@user.Name</h5>
                                <p class="card-text">Doctor at Intelligent Hospital</p>
                                <p class="card-text">@user.PhoneNumber</p>
                                <a class="btn btn-primary text-right" asp-action="ViewPublishAppointment" asp-route-id="@user.Id" asp-route-name="@user.Name" asp-route-phone-number="@user.PhoneNumber">Book Appointment</a>
                            </div>
                        </div>
                    </div>
                    <br/>
                }
            }
        </div>
    </div>
}

else
{
    <div class="card">
        <div class="card-header">
            No users created
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a user
            </h5>
            <a class="btn-primary" style="width:auto" asp-controller="Home" asp-action="Index">
                Back to pageasp
            </a>
        </div>
    </div>
}