@model IEnumerable<DoctorAppointmentWebApplication.Models.AppointmentEntity>

@{
    ViewData["Title"] = "ViewPublishAppointment";
}

<h1>View Publish Appointment</h1>

<!--This View is for Published appointments, Usage : Users, Intention: to view the published appointments from doctor-->
@if (Model.Any())
{
    <table border="1">
        <tr>
            <th>Doctor Name :</th>
            <th>Doctor Number :</th>
            <th>Appointment Date :</th>
            <th>Appointment Time :</th>


        </tr>

        @foreach (var appointment in Model)
        {
            <tr>
                <td>
                    @appointment.DoctorName
                </td>
                <td>
                    @appointment.DoctorNumber
                </td>
                <td>
                    @appointment.AppointmentDate
                </td>
                <td>
                    @appointment.AppointmentTime
                </td>
                <td>
                    @{
                        var uniqueModalID = "a" + appointment.RowKey.ToString();
                    }
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#@uniqueModalID">Book Appointment</button>
                </td>
                <!-- Modal -->
                <div class="modal fade" id="@uniqueModalID" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Corona Pre-Screening</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                To the best of your knowledge have you been in close proximity to any individual who tested positive for COVID-19?
                            </div>
                            <div class="modal-footer">
                                <form asp-action="UpdatePublished" asp-route-id="@appointment.PartitionKey" asp-route-rowkey="@appointment.RowKey" asp-route-coronaRisk ="High"><button class="btn btn-success" type="submit"> Yes </button></form>
                                <form asp-action="UpdatePublished" asp-route-id="@appointment.PartitionKey" asp-route-rowkey="@appointment.RowKey" asp-route-coronaRisk ="Low"><button class="btn btn-danger" type="submit"> No </button></form>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
         }
    </table>
}
else
{
    <a class="btn btn-primary" asp-action="BookAppointment" asp-route-id="@ViewBag.doctorId" asp-route-name="@ViewBag.doctorName" asp-route-phone-number="@ViewBag.phoneNumber">Book Appointment</a>
}