@model IEnumerable<DoctorAppointmentWebApplication.Models.AppointmentEntity>

@{
    ViewData["Title"] = "ManageTimeSlots";
}

<h1>Manage TimeSlots</h1>
<br />

@if (Model.Any())
{
    <div class="container">
        <div class="row">
            @foreach (var timeSlots in Model)
            {
                <div class="col-sm-6 mt-2 mb-2">
                    <div class="card">
                        <div class="card-body">
                            @{
                                var date = timeSlots.AppointmentDate.ToString("dd/MM/yyyy");
                                var time = timeSlots.AppointmentTime.ToShortTimeString();
                            }
                            <h5 class="card-title">@date</h5>
                            <p class="card-text">@time</p>
                            <a type="button" asp-action="EditTimeSlots" asp-route-id="@timeSlots.PartitionKey" asp-route-rowkey="@timeSlots.RowKey" class="btn btn-success">Reschedule Appointment</a>
                            <!-- Trigger the modal with a button -->
                            @{
                                var uniqueModalID = "a" + timeSlots.RowKey.ToString();
                            }
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@uniqueModalID">Delete</button>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="@uniqueModalID" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Deleting the appointment will delete the appointment session made previously by you as a user.
                            </div>
                            <div class="modal-footer">
                                <form asp-action="DeleteTimeSlots" asp-route-userid="@timeSlots.PartitionKey" asp-route-rowkey="@timeSlots.RowKey" asp-route-created-by="@timeSlots.CreatedBy"><button class="btn btn-danger" type="submit">Delete Appointment</button></form>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>



                @*<br />
                <div class="card mb-3">
                    <div class="card-body">
                        <h4 class="card-title">@timeSlots.DoctorName</h4>
                        <h5>@timeSlots.DoctorNumber</h5>
                        
                        <p><small>@date    @time</small></p>
                    </div>
                    <div class="card-footer">
                        
                        <a type="button" asp-action="EditTimeSlots" asp-route-id="@timeSlots.PartitionKey" asp-route-rowkey="@timeSlots.RowKey" class="btn btn-success">Reschedule Appointment</a>
                         Trigger the modal with a button 
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#@uniqueModalID">Delete</button>
                         Modal 
                        <div class="modal fade" id="@uniqueModalID" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Deleting the appointment will delete the appointment session made previously by you as a user.
                                    </div>
                                    <div class="modal-footer">
                                        <form asp-action="DeleteTimeSlots" asp-route-userid="@timeSlots.PartitionKey" asp-route-rowkey="@timeSlots.RowKey" asp-route-created-by="@timeSlots.CreatedBy"><button class="btn btn-danger" type="submit">Delete Appointment</button></form>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            }
        </div>
    </div>
}

else
{
    <br />
    <p>
        Sorry, you have no time slots made. <br />
        Please try again once you have made a time slot
    </p>
}
