
@{
    ViewData["Title"] = "PublishingAppointment";
}

@*<center>
    <h1>Publish Appointment</h1>

    <form method="post" action="PublishingAppointment">
        <p>Doctor Name : @ViewBag.userName</p>
        <p>Doctor Number : @ViewBag.phoneNumber</p>
        <input type="hidden" value="@ViewBag.userName" name="myUserName" />
        <input type="hidden" value="@ViewBag.phoneNumber" name="myPhoneNumber" />
        <input type="hidden" value="@ViewBag.userId" name="myUserID" />
        <p>Enter Date : <input type="date" name="myDate" required></p>
        <p>Enter Time : <input type="time" name="myTime" required></p>

        <p><input type="submit" value="Post" name="submit"></p>
    </form>


</center>*@


<main class="booking-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Schedule Timeslot</div>
                    <div class="card-body">
                        <form method="post" action="PublishingAppointment">
                            <input type="hidden" value="@ViewBag.userName" name="myUserName" />
                            <input type="hidden" value="@ViewBag.phoneNumber" name="myPhoneNumber" />
                            <input type="hidden" value="@ViewBag.userId" name="myUserID" />
                            <div class="form-group row">
                                <label class="col-md-4 col-form-label text-md-right">Date</label>
                                <div class="col-md-6">
                                    <input type="date" value="" name="myDate" required class="form-control">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="user_name" class="col-md-4 col-form-label text-md-right">Time</label>
                                <div class="col-md-6">
                                    <input type="time" value="" name="myTime" required class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                <input type="submit" value="Publish Appointment" name="submit" class="btn btn-primary">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>